.navbar a:hover {
    box-shadow: 0 -3px 0 #4bd094 inset;
}

.view {
    transition: all .5s ease;
}
.view-transition {
    transition: all .3s ease;
    padding: 10px;
    overflow: hidden;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.view-enter, .view-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}